body{
    max-width: 800px;
    max-height: 800px;
    background-color: rgb(120, 206, 233);
    border: 6px solid limegreen;
}

img{
    max-height: 300px;
    max-width: auto;
    display: block;
    float: right; 
    padding-bottom: 5%;
    margin-right: 50px;
    margin-left: 20px;
}

nav{
    text-align: center;
    font-family: 'source sans pro',sans-serif;
    font-weight:bolder;
    clear: right;
    padding-top: 3px;
    
}

li{
   color: white;
   display: inline-block;
   text-align: center;
   padding: 1px 10px;
   font-family: 'source sans pro 700',sans-serif;
  
}
a{ 
    color: rgb(25, 194, 25);
    padding: 1px 10px;
}
   

a+a {
    border-left: 2px solid rgb(95, 93, 91);
}

li + li{
    border-left: 2px solid rgb(95, 93, 91);
    }

h1{
    color: white;
    text-align: center;
    font-family:serif;
    font-style: italic; 
    margin-top: 50px;
    font-family: 'Roboto Slab';    
}

h2{
    color: white;
    margin-left: 50px; 
    font-family: 'source sans pro',sans-serif;
    font-weight: 800;
    padding-top: 10px;
}

p{
    text-align: left;
    color: white;
    font-family: 'Roboto Slab';
    margin-left: 50px;
    line-height:1.5;
    font-size: 18px;
}

footer {
    padding-top: 20px;
    text-align:center;    
    padding: 1px 10px;        
}

#white{
    color: white !important;
    text-decoration: none;
}
#main{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}